@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 40 33% 98%;
    --foreground: 30 10% 15%;
    --card: 40 30% 97%;
    --card-foreground: 30 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 30 10% 15%;
    --primary: 152 44% 28%;
    --primary-foreground: 40 33% 98%;
    --secondary: 36 33% 93%;
    --secondary-foreground: 30 10% 20%;
    --muted: 36 20% 94%;
    --muted-foreground: 30 8% 46%;
    --accent: 36 33% 90%;
    --accent-foreground: 30 10% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 36 20% 88%;
    --input: 36 20% 88%;
    --ring: 152 44% 28%;
    --chart-1: 152 44% 28%;
    --chart-2: 36 50% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.625rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 152 44% 28%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 152 44% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


html {
  scroll-behavior: smooth;
}

